*.aac binary -delta
*.aif binary -delta
*.aiff binary -delta
*.arc binary -delta
*.avi binary -delta
*.azw binary -delta
*.bin binary -delta
*.bmp binary -delta
*.bz binary -delta
*.bz2 binary -delta
*.caf binary -delta
*.eot binary -delta
*.epub binary -delta
*.flac binary -delta
*.fla binary -delta
*.gz binary -delta
*.gif binary -delta
*.ico binary -delta
*.jar binary -delta
*.jpeg binary -delta
*.jpg binary -delta
*.mp3 binary -delta
*.m4a binary -delta
*.mpa binary -delta
*.mpg binary -delta
*.m4s binary -delta
*.mpeg binary -delta
*.mpkg binary -delta
*.mkv binary -delta
*.oga binary -delta
*.ogg binary -delta
*.ogv binary -delta
*.ogx binary -delta
*.opus binary -delta
*.otf binary -delta
*.png binary -delta
*.pdf binary -delta
*.ppt binary -delta
*.pptx binary -delta
*.rar binary -delta
*.svg binary -delta
*.swf binary -delta
*.tar binary -delta
*.tif binary -delta
*.tiff binary -delta
*.ts binary -delta
*.ttf binary -delta
*.wav binary -delta
*.weba binary -delta
*.webm binary -delta
*.webp binary -delta
*.woff binary -delta
*.woff2 binary -delta
*.zip binary -delta
*.3gp binary -delta
*.3g2 binary -delta
*.7z binary -delta